.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: var(--transparrentWhite);
    backdrop-filter: blur(8px);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(220, 220, 220, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(220, 220, 220, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(220, 220, 220, 0.75);
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}
.logo{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}