.margin {
    width: 100%;
    height: 69px;
}
.reservationContent{
    margin-top: var(--marginInsideSections);
    position: relative;
}
.reservationContent h2{
    margin-top: 1rem;
    font-size: var(--h2Size);
}
@media only screen and (max-width: 800px){
    .reservationContent{
        margin-top: 2rem;
        position: relative;
    }
}

